<h1>Stupid Coaching</h1>

<div class='you'>
<p class='type'><%= @question %></p>
<p class='signature'><%= "- You" %></p>
</div>

<div class='coach'>
<p class='type'><%= @answer %></p>
<p class='signature'><%= "- Your coach" %></p>
</div>

<%= link_to "Ask a new question", ask_path %>
